# Logistic Regression using Scikit-Learn and Pandas.

Based on https://stackabuse.com/classification-in-python-with-scikit-learn-and-pandas/

The data is concerning coronary heart disease (CHD) in South Africa.

In [2]:
import piplite
piplite.install("sklearn")
piplite.install("pandas")

In [4]:
import sklearn as sk
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression

In [5]:
col_types = {'row.names': np.int64,'sbp': np.int64,'tobacco': np.float64,'ldl': np.float64,'adiposity': np.float64,'famhist': str,'typea': np.int64,'obesity': np.float64,'alcohol': np.float64,'age': np.int64,'chd':bool}
heart = pd.read_csv('SAHeart.csv', sep=',', header=0, dtype=col_types)
heart['famhist']= heart['famhist'].map({'Present': True, 'Absent': False})

heart.head()

,row.names,sbp,tobacco,ldl,adiposity,famhist,typea,obesity,alcohol,age,chd
0,1,160,12.00,5.73,23.11,True,49,25.30,97.20,52,True
1,2,144,0.01,4.41,28.61,False,55,28.87,2.06,63,True
2,3,118,0.08,3.48,32.28,True,52,29.14,3.81,46,False
3,4,170,7.50,6.41,38.03,True,51,31.99,24.26,58,True
4,5,134,13.60,3.50,27.78,True,60,25.99,57.34,49,True

In [6]:
y = heart.iloc[:,9]

In [7]:
y

0      52
1      63
2      46
3      58
4      49
       ..
457    58
458    52
459    55
460    40
461    46
Name: age, Length: 462, dtype: int64

In [8]:
X = heart.iloc[:,:9]

In [9]:
X

,row.names,sbp,tobacco,ldl,adiposity,famhist,typea,obesity,alcohol
0,1,160,12.00,5.73,23.11,True,49,25.30,97.20
1,2,144,0.01,4.41,28.61,False,55,28.87,2.06
2,3,118,0.08,3.48,32.28,True,52,29.14,3.81
3,4,170,7.50,6.41,38.03,True,51,31.99,24.26
4,5,134,13.60,3.50,27.78,True,60,25.99,57.34
...,...,...,...,...,...,...,...,...,...
457,459,214,0.40,5.98,31.72,False,64,28.45,0.00
458,460,182,4.20,4.41,32.10,False,52,28.61,18.72
459,461,108,3.00,1.59,15.23,False,40,20.09,26.64
460,462,118,5.40,11.61,30.79,False,64,27.35,23.97
461,463,132,0.00,4.82,33.41,True,62,14.70,0.00

In [10]:
z=heart.iloc[:,7:10]

In [11]:
piplite.install("itkwidgets==1.0a5")

In [13]:
from itkwidgets import view
view(point_sets=z.to_numpy())

In [14]:
LR = LogisticRegression(random_state=0, solver='lbfgs', multi_class='ovr', max_iter=500).fit(X, y)

In [15]:
LR.predict(X.iloc[460:,:])

array([40, 61], dtype=int64)

In [16]:
round(LR.score(X,y), 4)

0.2078